<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>
</head>
<body>

    <div ng-controller="HomeCtrl">
        {{message}}

        <input ng-model="name" />
        <button ng-click="run()">Save</button>

        <ul>
            <li ng-repeat="item in items">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </div>

    <script src="angular.js"></script>
    <script src="MyApp.js"></script>
    <script src="Logger.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
