<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        input {
            outline: none;
        }

        /*input.ng-invalid {
            border: 1px solid red;
        }*/

        .validation-message {
            color: red;
        }
    </style>
</head>
<body>

    <div ng-controller="HomeCtrl">
        <form name="form1" novalidate>
            Name:<br />
            <input ng-model="name" name="name" required />
            <span class="validation-message" ng-show="vf.name">Please specify a non empty name</span>

            <br />
            <br />
            Password:<br />
            <input type="password" ng-model="password" name="password" required />

            <br />
            <br />
            <button ng-click="run()">Save</button>
        </form>
    </div>

    <script src="angular.js"></script>
    <script src="MyApp.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
